@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: spin 2s linear infinite; /* Add a spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.stock-ticker-container {
  background-color: "${colors.primary[500]}";
  color: "${colors.primary[100]}";
  overflow: hidden;
  white-space: nowrap;
  padding: 15px;
  font-size: 15px;
}

.stock-ticker-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  animation: marquee 50s linear infinite;
}

.stock-ticker-list li {
  padding: 10px 20px;
  display: inline;
}

.stock-ticker-symbol {
  font-weight: bold;
}
.stock-ticker-price {
  font-weight: bold;
}

.stock-ticker-percent.negative {
  color: red;
}
.stock-ticker-percent.positive {
  color: rgb(12, 250, 12);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}




/* Style for the input label and border when not focused */
.custom-input label.MuiInputLabel-root {
  color: white; /* Change the label text color when not focused */
}

.custom-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Change the border color when not focused */
}

/* Style for the input label and border when focused */
.custom-input label.MuiInputLabel-root.Mui-focused {
  color: white; /* Change the label text color when focused */
}

.custom-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Change the border color when focused */
}



/* Adjust styles for screens wider than or equal to 768px (md) */
@media (min-width: 768px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
}

/* Adjust styles for screens wider than or equal to 992px (lg) */
@media (min-width: 992px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 100px;
  }
}





