@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.stock-ticker-container {
  background-color: "${colors.primary[500]}";
  color: "${colors.primary[100]}";
  overflow: hidden;
  white-space: nowrap;
  padding: 15px;
  font-size: 15px;
}

.stock-ticker-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  animation: marquee 50s linear infinite;
}

.stock-ticker-list li {
  padding: 10px 20px;
  display: inline;
}

.stock-ticker-symbol {
  font-weight: bold;
}
.stock-ticker-price {
  font-weight: bold;
}

.stock-ticker-percent.negative {
  color: red;
}
.stock-ticker-percent.positive {
  color: rgb(12, 250, 12);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}




/* Style for the input label and border when not focused */
.custom-input label.MuiInputLabel-root {
  color: white; /* Change the label text color when not focused */
}

.custom-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Change the border color when not focused */
}

/* Style for the input label and border when focused */
.custom-input label.MuiInputLabel-root.Mui-focused {
  color: white; /* Change the label text color when focused */
}

.custom-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Change the border color when focused */
}



/* Adjust styles for screens wider than or equal to 768px (md) */
@media (min-width: 768px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
}

/* Adjust styles for screens wider than or equal to 992px (lg) */
@media (min-width: 992px) {
  .responsive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 100px;
  }
}


/* TradingViewWidget.css */
@media (min-width: 768px) {
  .custom-padding {
    padding-left: 80px;
  }
}

.tradingview-widge-container__widge {
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .responsive-padding {
    padding-left: 80px;
    margin-bottom: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .responsive-padding {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .responsive-padding-quotes {
    padding-left: 80px;
    margin-bottom: 180px;
  }
}
@media only screen and (max-width: 768px) {
  .responsive-padding-quotes {
    padding-left: 10px;

  }
}

@media only screen and (min-width: 768px) {
  .responsive-padding-performance {
    padding-left: 80px;
    margin-bottom: 980px;
    width: 100%;
    height: 900px;
  }
}
@media only screen and (max-width: 768px) {
  .responsive-padding-performance {
    padding-left: 1px;
    height: 100%;
    margin-bottom: 900px;

  }
}
@media only screen and (min-width: 768px) {
  .responsive-padding-performance-2 {
    padding-left: 80px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .responsive-padding-performance-2 {
    padding-left: 1px;
    height: 100%;
    margin-bottom: 900px;
  }
}


.grid-item {
  margin: 20px;
  height: 300px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: black;
  border-color: #e0e0e0;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Charts.png'); /* Change the path to your image */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-image-2 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Charts2.png'); /* Change the path to your image */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.background-image-3 {
  width: 100%;
  height: 100%;
  background-image: url('./assets/Charts3.png'); /* Change the path to your image */
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Add this CSS to your stylesheet */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem; /* Adjust the size as needed */
}





.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 12px;
  animation: pulseDot 2s infinite alternate;

}

@keyframes moveDots {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes pulseDot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
